.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 10px;
    width: 100%;
}

.login-form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 5px;
    width: 80%;
}

.error-message {
    color: red;
    padding-inline: 5px;
    width: 80%;
}
