.login-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 40%;
    width: 20%;
    border-radius: 24px;

    background-color: #f0f0f0;
}

.login-layout-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 10px;
    gap: 5px;
}

.clickable-text {
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: #007bff;
    }

    &:active {
        color: #0056b3;
    }
}
