.App {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.background {
    background: url('../public/Parc.jpg') no-repeat center fixed;
    background-size: cover;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(3px);
}
