@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --primary-color: #2872a1;
    --secondary-color: #cbdde9;
    --accept-color: #4caf50;
    --cancel-color: #f44336;
    --hover-color: #ffffff;
    --light-text-color: #ffffff;
    --dark-text-color: #333333;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
